# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [112]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
csv = '../output_data/cities.csv'
weather_data = pd.read_csv(csv)
weather_data.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,East London,0,ZA,1592407654,59,-33.02,27.91,19.00,5.70
1,1,Albany,0,US,1592407857,42,42.60,-73.97,26.67,1.33
2,2,Lüderitz,0,NaN,1592407857,10,-26.65,15.16,31.00,3.60
3,3,La Ronge,90,CA,1592407858,87,55.10,-105.28,8.00,6.20
4,4,Naze,98,JP,1592407858,100,28.37,129.48,26.00,3.60

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [35]:
gmaps.configure(api_key=g_key)

In [61]:
# Store 'Lat' and 'Lng' into  locations 
weather_data = weather_data.dropna()
weather_data = weather_data.loc[weather_data["Max Temp"] >= 0,:]
locations = weather_data[["Lat", "Lng"]].astype(float)
heat_data = weather_data["Max Temp"].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=heat_data, 
                                 dissipating=False, max_intensity=100, point_radius = 4 )

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows with null values.

In [119]:

vacation_data = weather_data.loc[weather_data["Max Temp"] >= 30,:]
vacation_data = vacation_data.loc[vacation_data["Humidity"] < 50,:]
vacation_data = vacation_data.loc[vacation_data["Cloudiness"] < 50,:]
vacation_data = vacation_data.loc[vacation_data["Wind Speed"] < 3,:]
vacation_data = vacation_data.reset_index(drop=True)
vacation_data

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,128,Gorodishche,0,RU,1592407878,14,48.80,44.47,32.00,2.00
1,134,Humaitá,4,BR,1592407879,42,-7.51,-63.02,33.09,1.66
2,137,Bilma,1,NE,1592407880,7,18.69,12.92,41.36,1.37
3,138,La Cruz,0,MX,1592407880,44,23.92,-106.90,30.56,0.89
4,154,Ojinaga,1,MX,1592407882,33,29.57,-104.42,31.00,2.60
5,229,Nocupétaro,0,MX,1592407894,43,19.05,-101.15,31.24,1.35
6,231,Diffa,40,NE,1592407894,15,13.32,12.61,40.51,1.58
7,352,Barwāla,0,IN,1592407914,8,29.38,75.92,39.08,1.20
8,362,San Borja,40,BO,1592407916,46,-14.82,-66.85,30.86,2.30
9,381,Goundam,0,ML,1592407919,6,16.41,-3.67,44.58,1.86
10,406,Carauari,0,BR,1592407923,46,-4.88,-66.90,32.68,1.87
11,492,Kandi,27,BJ,1592407937,48,11.13,2.94,33.85,2.92
12,515,Mulegé,0,MX,1592407940,24,26.88,-111.98,32.24,1.55

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [140]:
vacation_data = hotel_df
hotel_df["Hotel Name"]= ""



base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 5000,
    "type": "hotel",
    "key": g_key,
}
for index, row in hotel_df.iterrows():
    latitude = str(row['Lat'])
    longitude = str(row['Lng'])
    target_coor = latitude + ", " + longitude
    params['location'] = target_coor
    #print(f"Retrieving Results for Index {index}: {location}.")
    response = requests.get(base_url, params=params)
    hotels_data = response.json()
    #print(json.dumps(hotels_data, indent=4, sort_keys=True))
    try:
        print(hotels_data["results"][0]["name"])
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Volgograd
Missing field/result... skipping.
Humaitá District
Missing field/result... skipping.
Bilma
Missing field/result... skipping.
La Cruz
Missing field/result... skipping.
Ojinaga
Missing field/result... skipping.
Nocupétaro de Morelos
Missing field/result... skipping.
Diffa
Missing field/result... skipping.
Barwala
Missing field/result... skipping.
Missing field/result... skipping.
Goundam
Missing field/result... skipping.
Carauari
Missing field/result... skipping.
Kandi
Missing field/result... skipping.
Mulegé
Missing field/result... skipping.

In [141]:
hotel_df

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
128,128,Gorodishche,0,RU,1592407878,14,48.80,44.47,32.00,2.00,
134,134,Humaitá,4,BR,1592407879,42,-7.51,-63.02,33.09,1.66,
137,137,Bilma,1,NE,1592407880,7,18.69,12.92,41.36,1.37,
138,138,La Cruz,0,MX,1592407880,44,23.92,-106.90,30.56,0.89,
154,154,Ojinaga,1,MX,1592407882,33,29.57,-104.42,31.00,2.60,
229,229,Nocupétaro,0,MX,1592407894,43,19.05,-101.15,31.24,1.35,
231,231,Diffa,40,NE,1592407894,15,13.32,12.61,40.51,1.58,
352,352,Barwāla,0,IN,1592407914,8,29.38,75.92,39.08,1.20,
362,362,San Borja,40,BO,1592407916,46,-14.82,-66.85,30.86,2.30,
381,381,Goundam,0,ML,1592407919,6,16.41,-3.67,44.58,1.86,
406,406,Carauari,0,BR,1592407923,46,-4.88,-66.90,32.68,1.87,
492,492,Kandi,27,BJ,1592407937,48,11.13,2.94,33.85,2.92,
515,515,Mulegé,0,MX,1592407940,24,26.88,-111.98,32.24,1.55,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map